form{
    margin-top: 20px;
}

header{
    text-align: center;
    margin-top: 150px;
}

img{
    width: 200px;
    margin-bottom: 30px;
}

span{
    font-size: 1.8em;
}

.btn{
    height: 40px;
}

.fadeIn{
    border-radius: 5px;
    width: 300px;
    height: 40px;
    margin-right: 40px;
}



